{% extends 'post/base.html' %}

{% block title %} Listado de Post {% endblock %}

{% block content %}
<h3>{% if object %}Edit Post: {{ object.nombre }}{% else %}New Post{% endif %}</h3>
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            Datos del Post
                        </div>
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-primary">Envíar</button>
                                <a href="{% url 'post-list' %}">Cancel</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}